@import "../styles/variables";

.header {

  .header-secondary {
    display: flex;
    padding: 10px 50px;
    box-shadow: 0 10px 10px rgba($black, 0.1);
    position: relative;
  }

  .headers-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  .pt-navbar {
    background: whitesmoke;
    box-shadow: none;
    .pt-tab {
      transition: all 300ms ease;
      transform: scale(1);
      padding: 0;
      width: 64px;
      text-align: center;
      margin-right: 0;
      a {
        color: inherit;
        text-decoration: none !important;
        display: block;
      }
      &.title {
        height: 50px;
        font-weight: 200;
        font-size: 24px;
        line-height: 46px;
      }
      &.with-icon {
        font-size: 10px;
        text-transform: uppercase;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    .pt-tab[aria-selected="true"], .pt-tab:not([aria-disabled="true"]):hover {
      transform: scale(1.1);
    }
    .pt-tab-indicator {
      //background-color: $white;
    }
  }

  .pt-tab-indicator-wrapper .pt-tab-indicator {
    background: linear-gradient(to right,
      rgba($pt-intent-primary, 0.10),
      $pt-intent-primary,
      rgba($pt-intent-primary, 0.10));
    height: 2px;
  }

  @media (max-width: $tablet) {
    .pt-navbar {
      padding: 0;
    }
    .breadcrumbs, .pt-button {
      display: none;
    }
    .pt-popover-target {
      display: block;
    }
    .search, .pt-input {
      width: 100% !important;
    }
  }
}
