@import "../styles/variables";

.Home {
  overflow-y: auto;
  height: 100%;

  > div {
    margin: auto;
    padding: 50px;
    max-width: 800px;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

@media (max-width: $tablet) {
  .Home > div {
    padding: 20px;
  }
}
