@import "../variables";

.Navbar {
  height: $navbar-height;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: $white;
  z-index: 1;
  box-shadow: 0 2px $grey-lighter;
  display: flex;

  .Navbar__menu {
    font-weight: bold;
    color: gray;
  }

  .Navbar__home {
    font-weight: bold;
    color: gray;
    margin: 0 10px;
  }

  .reverse {
    transform: rotate(90deg);
  }

  .Navbar__box {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-width: 64px;
  }
}
