@import "~bulma/sass/utilities/variables";

#app .search {
  display: inline-block;
  margin-right: 20px;

  .search-popover {
    width: 300px;
    right: 100px;
    padding: 5px;
    position: fixed;
    background: $white;
    box-shadow: 0 4px 8px rgba($black, .2);
  }
  .search-item {
    text-align: left;
    .tag {
      margin-right: 10px;
      border: 1px solid $primary;
      color: $primary;
      width: 52px;
      font-size: 10px;
      padding: 0 0 2px;
      background-color: transparent;
      text-align: center;
    }
    a {
      opacity: .8;
      display: block;
      height: 100%;
      padding: 5px 5px;
      margin: 0 4px;
      text-decoration: none !important;
      font-size: 12px;
      border-radius: 2px;
      color: $black;
      &.focus {
        opacity: 1;
        background-color: rgba($black, .1);
      }
    }
  }
  .search-tag {
    background-color: $primary;
    display: inline-block;
    width: 40px;
    border-radius: 4px;
    color: white;
    text-align: center;
    margin-right: 10px;
  }
  .search-empty {
    padding: 10px;
    text-align: center;
  }
}
