@import "../variables";

#app .search {
  width: 100%;
  position: relative;

  .input {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 0 1px $grey-lighter;

    &:hover {
      box-shadow: 0 0 0 1px $grey-light;
    }

    &:focus {
      box-shadow: 0 0 0 1px $primary;
    }
  }

  .search-popover {
    padding: 5px;
    position: absolute;
    margin: 0 20px;
    left: 0;
    right: 0;
    top: 40px;
    background: $white;
    box-shadow: 0 4px 8px rgba($black, .1);
    border: 2px solid $grey-lighter;
    border-top: 0;
  }

  .search-item {
    text-align: left;

    .tag {
      margin-right: 10px;
      border: 1px solid $primary;
      color: $primary;
      width: 52px;
      font-size: 10px;
      padding: 0 0 2px;
      background-color: transparent;
      text-align: center;
    }

    a {
      opacity: .8;
      display: block;
      height: 100%;
      padding: 5px 5px;
      margin: 0 4px;
      text-decoration: none !important;
      font-size: 12px;
      border-radius: 2px;
      color: $black;
      transition: all 300ms ease;

      &.focus {
        padding-left: 6px;
        opacity: 1;
        background-color: rgba($black, .1);
      }
    }
  }

  .search-tag {
    display: inline-block;
    background: $primary;
    width: 64px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    margin-right: 10px;
  }

  .search-empty {
    padding: 10px;
    text-align: center;
  }
}
