@import "../variables";

.Sidebar {
  .Sidebar__content {
    width: $sidebar-width;
    transition: all 300ms ease;
    z-index: 1;
    height: 100%;
    border-right: 2px solid $grey-lighter;
    box-shadow: -2px 0 2px rgba($black, .2);
    background: $white;
    top: 0;
    bottom: 0;
    overflow: auto;

    &.is-open {
      opacity: 1;
      z-index: 1100;
    }

    .panel-block {
      border: 0;
      box-shadow: 0 -1px $grey-lighter;

      small {
        margin-left: 10px;
        margin-top: 3px;
        color: $grey-light;
        font-size: 0.6em;
      }
    }

    .panel {
      box-shadow: 0 1px $grey-lighter;
    }
  }

  .Sidebar__backdrop {
    position: fixed;
    transition: all 300ms ease;
    background: rgba($black, .1);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
}

@media (min-width: $mobile + 1) {
  .Sidebar {
    .Sidebar__content {
      display: none;

      &.is-open {
        display: block;
      }
    }
  }
}

@media (max-width: $mobile) {
  .Sidebar {
    .Sidebar__content {
      position: fixed;
      transform: translate(-100%);

      &.is-open {
        transform: translate(0%);
      }
    }
  }
  .Sidebar__backdrop {

    &.is-open {
      opacity: 1;
      z-index: 1000;
    }
  }
}
