@import "~@blueprintjs/core/dist/variables";

$icon-font-path: "~@blueprintjs/core/resources/icons";
$pt-app-background-color: $white;
$pt-dark-app-background-color: $dark-gray1;
$pt-border-radius: 0;

@import "~@blueprintjs/core/src/blueprint";
@import "~highlight.js/styles/railscasts";

html, body, #app {
  margin: 0;
  height: 100%;
}

body {
  background-color: $pt-app-background-color;
}

.oly-title {
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  margin: 0 40px;
}

.flex {
  display: flex;
  min-height: 100%;

  &.flex-row {
    flex-direction: column;
  }
}

.flex-full {
  flex: 1;
  min-height: 100%;
}
