@import "~bulma/sass/utilities/variables";
@import "~prismjs/themes/prism.css";
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";

#app {

  .token.annotation.punctuation {
    color: #458383;
    a {
      color: #458383;
    }
  }

  pre.language-ts, pre.language-bash {
    background-color: #f9f9f9;
    border: 20px solid white;
    margin-bottom: 30px;
  }

  .naked {
    pre.language-ts, pre.language-bash {
      box-shadow: none;
      border: none;
      background: none;
      padding-left: 0;
      padding-top: 30px;
    }
  }

  .token.script.language-typescript {
    color: black;
  }

  .token.function {
    color: #807f17;
  }

  .token.atrule, .token.attr-value, .token.keyword {
    color: #000080;
  }

  .token.property {
    color: #660e7a;
  }

  .content a, .links a {
    color: inherit;
    text-decoration: none !important;
    transition: all 300ms ease;
    box-shadow: inset 0 -3px rgba($turquoise, 0.4);
    &:hover {
      color: inherit;
      box-shadow: inset 0 -3px rgba($turquoise, 0.8);
    }
  }
}
