.DS_Store
.vscode
/node_modules
/packages/*/node_modules
/packages/*/lib
/packages/*/out
/packages/*/coverage
/.idea
*.log
*.iml
*.cache
*.lock
/manuals
/packages/oly/**/*.js
/packages/oly/**/*.js.map
/packages/oly/**/*.d.ts
/docs
/lib
/coverage
doc.json
