.DS_Store
.vscode
/node_modules
/packages/*/node_modules
/packages/*/lib
/packages/*/out
/packages/*/www
/packages/*/coverage
.idea
*.log
*.iml
*.cache
*.lock
/manuals
/packages/oly-tools/**/*.js
/packages/oly-tools/**/*.js.map
/packages/oly-tools/**/*.d.ts
/docs
/lib
/coverage
docs.js
checkstyle-result.xml
