@import "../styles/variables";

.ModuleMenu {
  background: linear-gradient(to right, white, rgba($pt-intent-primary, 0.04));
  padding: 50px 0 50px 50px;
  border-right: 2px solid rgba($pt-intent-primary, 0.6);
  width: 250px;
  overflow-y: auto;
  a {
    text-decoration: none !important;
    display: block;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 4px 100px 4px 10px;
    &:hover {
      background-color: rgba($black, 0.05);
    }
    &.active {
      background: linear-gradient(to right, $pt-intent-primary, rgba($pt-intent-primary, 0.6));
      color: $white;
    }
  }
  .sub {
    padding-left: 10px;
    font-size: 12px;
    a {
      opacity: 0.8;
      border-top-left-radius: 0;
    }
  }
}


@media (max-width: $tablet) {
  .ModuleMenu {
    padding: 20px;
    width: 200px;
  }
}


.ModuleMenu_part {
  margin-top: 10px;
  .ModuleMenu_part-header {
    box-shadow: inset 0 -2px rgba($black, 0.1);
    padding: 4px;
    font-weight: 300;
  }
}

.ModuleMenu_head {
  cursor: pointer;
  opacity: 0.7;
  &:hover {
    opacity: 0.9;
  }
}
