@import "variables";

#app {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $white;
  overflow: hidden;

  h1, h2, h3, h4 {
    margin-top: 30px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 10px;
  }

  .separator {
    border-bottom: 2px solid rgba($pt-intent-primary, 0.6);
    margin-left: -50px;
    margin-right: -150px;
    padding-left: 50px;
    padding-bottom: 10px;
  }

  .pt-table {
    width: 100%;
  }

  h1 {
    font-weight: lighter;
    margin-bottom: 40px;
    padding-bottom: 10px;
    color: $dark-gray1;
  }

  h3, h4 {
    box-shadow: -2px 0 rgba($pt-intent-primary, 0.5);
    padding-left: 10px;
  }
}

.Footer {
  font-size: 10px;
  padding: 5px;
  color: $gray1;
  text-align: center;
  box-shadow: 0 -5px 5px rgba($black, 0.1);
  position: relative;
  z-index: 100;
}

.readme {
  background-color: $white;
  padding: 20px;
  margin: 40px;
  border: 2px solid $light-gray2;
}

.container {
  margin: 0 40px;
}

.flex {
  display: flex;
  height: 100%;

  &.flex-row {
    flex-direction: column;
  }
}

.flex-full {
  flex: 1;

  &.with-scroll {
    overflow-y: auto;
  }
}

.card {
  box-shadow: none;
}

pre {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
