@import "~@blueprintjs/core/dist/variables";

// paths
$icon-font-path: "~@blueprintjs/core/resources/icons";

// colors
$pt-app-background-color: $white;
$pt-dark-app-background-color: $dark-gray1;
$pt-intent-primary: $violet3;
$pt-link-color: $pt-intent-primary;

// responsive
$tablet: 720px;

// misc
$pt-border-radius: 0;
