@import "../styles/variables";

.breadcrumbs {
  padding: 10px 50px;
  box-shadow: 0 10px 10px rgba($black, 0.1);

  .breadcrumb-icon {
    padding: 8px;
    background: $pt-text-color-muted;
    border-radius: 50%;
    color: $white;
    font-size: 12px;
  }
}
