@import "../styles/variables";

.Home {

  margin: auto;
  padding: 50px;
  background-color: $white;
  max-width: 800px;

  h1 {
    font-weight: lighter;
    padding-bottom: 50px;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
