@import "../styles/variables";

.search {
  .search-item {
    .pt-tag {
      margin-right: 10px;
      border: 1px solid $pt-intent-primary;
      color: $pt-intent-primary;
      width: 52px;
      background-color: $white;
      text-align: center;
    }
    a {
      opacity: .8;
      display: block;
      height: 100%;
      padding: 5px 20px;
      margin: 0 4px;
      text-decoration: none !important;
      transition: all 300ms ease;
      border-radius: 2px;
      &:hover {
        opacity: 1;
        background-color: rgba($pt-intent-primary, .2);
      }
    }
  }
  .search-empty {
    padding: 10px;
    text-align: center;
  }
  &.pt-popover.pt-popover-content-sizing .pt-popover-content {
    padding: 5px 0;
    width: 285px;
    margin-left: -10px;
    border-bottom: 1px solid $white;
  }
}
