
$primary: hsl(171, 100%, 41%);


@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "variables";
@import "~bulma/sass/elements/form";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/table";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/panel";
@import "~bulma/sass/components/menu";
@import "~bulma/sass/components/breadcrumb";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";
@import "shared/Mark";
@import "layout/Search";
@import "layout/Navbar";
@import "layout/Sidebar";
@import "layout/Layout";
@import "+module/Module";
@import "styles/container";

html,
body,
button,
input,
select,
textarea {
  overflow: hidden;
  font-family: $family-sans-serif;
}

#app {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  .button {
    text-transform: uppercase;
  }

  .is-full {
    flex: 1;
    width: 100%;
  }

  .menu-list a {
    padding: 0.3em 0.75em;
    font-size: .9em;
  }
}
