@import "~bulma/sass/utilities/initial-variables";

$primary: hsl(171, 100%, 37%);
$link: $primary;
$mobile: 800px;
$sidebar-width: 260px;
$navbar-height: 54px;
$family-sans-serif: 'Lato', sans-serif;
